.bg-cover {
    background-size: cover;
    background-position: center;
}
.hover-bg-change:hover{
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 0.25rem;
}