.bg-cover {
    background-size: cover;
    background-position: center;
}
.hover-bg-change:hover{
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 0.25rem;
}

.hero-section {
    position: relative; /* Necesario para el pseudo-elemento */
    min-height: 12.5rem;
    min-height: var(--min-height);
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-position: center;
}

/* Capa de opacidad */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Asegura que el contenido quede sobre la capa de opacidad */
.hero-section > * {
    position: relative;
    z-index: 1;
}
    
 @media (min-width: 768px) {
    .hero-section {
        --min-height: 15rem;
    }
}
    
    @media (min-width: 992px) {
        .hero-section {
        --min-height: 18rem;
    }
}